@import "tailwindcss";

.text-gradient-animated {
  background: linear-gradient(90deg, #ffffff 0%, #fbf4ed 33%, #ffffff 66%, #f6f4f1 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-stroke-soft {
  -webkit-text-stroke: 0.6px rgba(255, 255, 255, 0.788);
}

.text-glow {
  text-shadow:
    0 0 20px rgba(198, 169, 139, 0.15),
    0 0 40px rgba(0, 0, 0, 0.6);
}